<mat-toolbar>
  <div class="brand">
    <mat-icon>sports_soccer</mat-icon>
    <span>Tecsup World Cup</span>
  </div>

  <span class="spacer"></span>

  <ng-container *ngIf="user$ | async as user">
    <app-avatar [name]="user.firstName || user.email"></app-avatar>
    <button mat-icon-button aria-label="Notificaciones">
      <mat-icon>notifications</mat-icon>
      <span class="count">{{ unreadCount$ | async }}</span>
    </button>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu de usuario">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item disabled>{{ user.email }}</button>
      <button mat-menu-item (click)="logout()">
        <mat-icon>logout</mat-icon>
        <span>Salir</span>
      </button>
    </mat-menu>
  </ng-container>
</mat-toolbar>
